<div>id: <input #id /></div>
<div>title: <input #title /></div>
<div>creator: <input #creator /></div>
<div>description: <input #description /></div>
<div>image: <input #imgURL /></div>
<div>type: <input #type /></div>
<div>tags: <input #tags /></div>
<div>
  <button
    (click)="
      addContent(
        id.value,
        title.value,
        creator.value,
        description.value,
        imgURL.value,
        type.value,
        tags.value
      )
    "
  >
    Add New Content
  </button>
</div>
