<app-create-content
  (newContentEvent)="addContentToList($event)"
></app-create-content>

Insert your title:<input type="text" #inputtext />
<button (click)="search(inputtext.value)">Search</button>
<p *ngIf="isexist" class="isexist">{{ message }}</p>
<p *ngIf="!isexist" class="notexist">{{ message }}</p>

<app-content-card
  *ngFor="
    let item of allItemsArray | filterItem;
    index as i;
    first as isFirst;
    last as isLast
  "
  [class.found]="item.title == inputtext.value"
  [class.is-first]="isFirst"
  [class.is-last]="isLast"
  [class.is-cake]="item.type == 'cake'"
  [class.is-cookie]="item.type == 'cookie'"
  [item]="item"
>
</app-content-card>

<app-content-card
  *ngFor="
    let item of allItemsArray | filterItem: 'cake';
    index as i;
    first as isFirst;
    last as isLast
  "
  [class.found]="item.title == inputtext.value"
  [class.is-first]="isFirst"
  [class.is-last]="isLast"
  [item]="item"
  [class.is-cake]="item.type == 'cake'"
  [class.is-cookie]="item.type == 'cookie'"
>
</app-content-card>

<app-content-card
  *ngFor="
    let item of allItemsArray | filterItem: 'cookie';
    index as i;
    first as isFirst;
    last as isLast
  "
  [class.found]="item.title == inputtext.value"
  [class.is-first]="isFirst"
  [class.is-last]="isLast"
  [item]="item"
  [class.is-cake]="item.type == 'cake'"
  [class.is-cookie]="item.type == 'cookie'"
>
</app-content-card>
